@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body{
	font-family: 'Work Sans', sans-serif;
}
section{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}
div{
	display:flex;
	flex-direction:row;
  }
h1{
		padding:20px 20px 20px 20px;
	font-size: 18px;
}
a{
	text-decoration:none;
	color:black;
	font-size:12px;
}
a:hover{
	border-top: 6px solid #E2C83D;
}

#content{
	display:flex;
	align-items:center;
	justify-content:center;
	text-decoration:none;
	color:#E2C83D;
	border: solid #E2C83D 1.5px;
	border-radius: 40px;
	width: 270px;
	height: 40px;
}
