

#one {
	position: absolute;
	left:100px;
	
}
#two {
	position: absolute;
	top:200px;
	left:100px;
}
#three {
	position: absolute;
	left:100px;
	top:200px;
}
#four {
	position: absolute;
	left:790px;
	
}
#five {
	position: absolute;
	left:802px;
	top:243px;
}
#six {
	position: absolute;
	left:697px;
	top:431px;
}




